body {
    background: rgb(236,125,173);
    background: radial-gradient(circle, rgba(236,125,173,1) 0%, rgba(228,233,148,1) 100%);
    overflow: hidden;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
}

.actionBox {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

#closeModalButton {
    cursor: pointer;
}

.btn {
    margin-top: 15px !important;
}

.notesBoard {
    width: 65vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-grow: 4;
    flex-wrap: wrap;

}

.note {
    min-width:300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.note .noteHeader {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.note .noteHeader .noteTitle {
    font-size: 18px;
    width: 100%;
    display: flex;
}

.note .noteHeader .noteTitle img {
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.noteDate {
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    width: 100%;
}

.note .noteHeader .noteTitle .noteTag {
    min-width: 35px;
    margin-left: 15px;
    width: auto;
    height: 22.5px;
    padding: 0 5px 0 5px;
    background-color: lightblue;
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
}

.note .noteContent {
    text-decoration: underline;
    height:73.5%;
    overflow-y: scroll;
    padding: 5px;
}

#noteForm {
    transition: 0.3s ease-in-out;
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 25vw;
    margin-top: 10vh;
    overflow: hidden;
    z-index: 1;
}

.actions {
    width: 100%;
    height: 50px;
    background-color: #e9ecef;
    padding: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.visibe {
    display: block;
}

.fields {
    padding: 5px;
}

.note-actions {
    display: flex;
    position: relative;
    font-size: 12px;
}

.edit-note-button {
    cursor: pointer;
    margin-right: 15px;    
}

#deleteModal {
    transition: 0.3s ease-in-out;
    position: absolute;
    width: 400px;
    height: 200px;
    overflow: hidden;
    background-color: #fff;
    margin-left: calc(50% - 200px);
    margin-top: calc(50vh - 100px);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.delete-modal-body {
    text-align: center;
    padding: 5px;
}

.delete-modal-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#noteToDeleteTitle {
    font-weight: bold;
}

.delete-note-button {
    cursor: pointer;
}

#noteColor {
    width:100px;
    height: 39px;
}

.form-switch {
    display: inline-block;
}

#addElementToList {
    margin-top: 23.5px !important;
}

#toDoListContent {
    margin-top: 5px;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

.to-do-list-element {
    width: 100%;
    height: 25px;    
}

.to-do-list-element label {
    margin-left: 5px;
}