body {
    padding: 15px;
    background: rgb(238,69,240);
    background: radial-gradient(circle, rgba(238,69,240,1) 0%, rgba(251,110,255,1) 47%, rgba(0,212,255,1) 100%);
}

#play {
    margin-top: 10px;
    width: 100%;
}

#reset {
    margin-top: 10px;
    width: 100%;
}

#canvasBoard {
    border-radius: 5px;
    border: 2px solid black;
}