body {
    padding: 15px;
}

body h4 {
    font-size: 16px;
}

.main-row {
    height: 100%;
}

.custom-alert {
    width: 300px;
}

.d-none {
    display: none !important;
}

#weatherImage {
    height: 64px;
    width: 64px;
}

.left-side-li {
    display: block;
    position: relative;
    left: -25px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
    line-height: 35px;
}

.left-side-li img{
    width: 35px;
    position: relative;
    top: -2px;
}

.left-side-li:hover {
    cursor: pointer;
}

.list-city-country {
    color: #b2b2b2;
}

.remove-pin-btn {
    float: right;
    display: block;
    width: 80px;
    text-align: center;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    height: 35px;

}