body {
    padding: 15px;
}

body h4 {
    font-size: 16px;
}

.main-row {
    height: 100%;
}

.custom-alert {
    width: 300px;
}

.d-none {
    display: none !important;
}

#weatherImage {
    height: 64px;
    width: 64px;
}

.left-side-li {
    display: block;
    position: relative;
    left: -25px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
    line-height: 35px;
}

.left-side-li img{
    width: 35px;
    position: relative;
    top: -2px;
}

.left-side-li:hover {
    cursor: pointer;
}

.list-city-country {
    color: #b2b2b2;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#city {
    width: 350px;
    border: 2px solid #b2b2b2;
    padding-left: 5px;
    border-radius: 5px;
}

#autosuggest {
    position: fixed;
    top: 75px;
    z-index: 1;
}

.auto-suggest-element {
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
    border-bottom:2px solid #000;
    border-right:2px solid #000;
    border-left:2px solid #000;
    width: 350px;
    background-color: #fff;
    cursor: pointer;
}

.auto-suggest-element:first() {
    background-color: red;
}

.auto-suggest-element:nth-last-child(1) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.auto-suggest-element:nth-child(1) {
    border-top: 2px solid #000;
}

.autos-suggest-country {
    color: #b2b2b2;
}

.lists-title {
    margin-top: 15px;
}

.remove-pin-btn {
    float: right;
    display: block;
    width: 80px;
    text-align: center;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    height: 35px;
}

.weather-box {
    line-height: 10px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.weather-box span {
    color: #b2b2b2;
}

.main-info {
    display: flex;
    flex-direction: row;
    width: 400px;
}

.main-info img {
    margin-right: 10px;
}

.additional-info {
    width: 400px;
}

#weatherChart {
    width: 800px !important;
    height: 400px !important;
}